* {
  font-family: 'Montserrat', sans-serif; }

.color_h1 {
  color: #547670; }

.color_secundario {
  color: #797a7e; }

.color_p {
  color: #38383a; }

#texto_index {
  padding: 3%;
  margin-top: 15%; }
  #texto_index #texto_index_especifico {
    margin: 10% 0%; }
    #texto_index #texto_index_especifico h1 {
      margin-top: 5%; }
    #texto_index #texto_index_especifico p {
      padding: 3%; }
  #texto_index .imagen_index {
    border-radius: 25px; }

#home .container h2 {
  margin-top: 5%; }

#home .container .contenido-home {
  display: flex;
  justify-content: center;
  align-items: center; }

#home .container .imagen_home {
  border-radius: 25px; }

#sobremi .mivida {
  display: flex;
  justify-content: center;
  align-items: center; }

#sobremi .viajes {
  display: flex;
  justify-content: center;
  align-items: center; }

#tips article {
  margin: 2%; }

#complementos .btn, #complementos .btn_complementos {
  color: white;
  background-color: #ff7a7a;
  text-transform: uppercase; }

#complementos .btn_complementos {
  text-transform: none;
  text-align: center; }

#contacto .contenedor_contacto form fieldset textarea {
  resize: none; }

#contacto .contenedor_contacto form fieldset .btn, #contacto .contenedor_contacto form fieldset #complementos .btn_complementos, #complementos #contacto .contenedor_contacto form fieldset .btn_complementos {
  color: white;
  background-color: #ff7a7a;
  text-transform: uppercase; }

@media screen and (min-width: 576px) {
  #texto_index {
    margin-top: 1%; } }

@media screen and (min-width: 768px) {
  .textos_sobremi {
    padding: 4%; } }

@media screen and (min-width: 992px) {
  nav .logo {
    transition: all 200ms; }
    nav .logo:hover {
      transform: scale(1.02); }
  nav li {
    transition: all 100ms; }
    nav li:hover {
      transform: scale(1.02);
      font-weight: bolder; }
  footer .logo {
    transition: all 200ms; }
    footer .logo:hover {
      transform: scale(1.02); }
  footer .fotos_footer {
    transition: all 100ms; }
    footer .fotos_footer:hover {
      transform: scale(1.07); }
  #presentacion #texto_index {
    margin-top: 0%; }
    #presentacion #texto_index #texto_index_especifico {
      margin: 2% 0%; }
  #sobremi {
    padding: 1% 0%; }
  #tips article {
    transition: all 100ms; }
    #tips article:hover {
      transform: scale(1.07);
      background-color: white; }
  #complementos .card {
    transition: all 100ms; }
    #complementos .card:hover {
      transform: scale(1.07);
      border: solid;
      border-color: #547670; } }

@media screen and (min-width: 1200px) {
  #presentacion {
    padding: 1.4% 0%; }
  #home {
    padding: 4% 0%; }
  #tips article {
    margin: 0%;
    margin-bottom: 3%; }
  #complementos {
    padding: 3.8% 0%; }
    #complementos p {
      margin: 3% 0%; } }
