#complementos {
    .btn {
        color: white;
        background-color: #ff7a7a;
        text-transform: uppercase;
    }

    .card-body {
        padding: 1rem 0.5rem;

        p {
            padding: 0.6rem 0rem;
        }
    }

    a {
        text-decoration: none
    }

    .btn_complementos {
        @extend .btn;
        text-transform: none;
        text-align: center;
    }
}