#complementos {
    .btn {
        color: white;
        background-color: #ff7a7a;
        text-transform: uppercase;
    }

    a {
        text-decoration: none
    }

    .btn_complementos {
        @extend .btn;
        text-transform: none;
        text-align: center;
    }
}