#contacto {
       .contenedor_contacto {
        form {
            fieldset {
                textarea {
                    resize: none;
                }
                #boton {
                    color: white;
                    background-color: $color_boton;
                }
            }
        }
    }
}