#contacto {
       .contenedor_contacto {
        form {
            fieldset {
                textarea {
                    resize: none;
                }
                .btn {
                    color: white;
                    background-color: #ff7a7a;
                    text-transform: uppercase;
                }
            }
        }
    }
}