#home {
    .container {
        h2 {
            margin-top: 5%;
        }

        .contenido-home {
            @include centrarcaja
        }

        .imagen_home {
            border-radius: 25px;
        }

    }
}