$colores:(
    colorh1: #547670,
    colorsecundario: #797a7e,
    colorp: #38383a,
);

.color_h1{
    color: map-get($colores, colorh1);
}

.color_secundario{
    color: map-get($colores, colorsecundario);
}

.color_p{
    color: map-get($colores, colorp);
}

