* {
    font-family: 'Montserrat', sans-serif;
}
$color_boton: #ff7a7a;



@import "index.scss";
@import "home.scss";
@import "sobremi.scss";
@import "tips.scss";
@import "complementos.scss";
@import "contacto.scss";
@import "imports.scss";
@import "mapas.scss";