* {
    font-family: 'Montserrat', sans-serif;
}

$titulos: #547670;
$color_boton: #ff7a7a;

@import "mapas.scss";
@import "index.scss";
@import "home.scss";
@import "sobremi.scss";
@import "tips.scss";
@import "complementos.scss";
@import "contacto.scss";
@import "imports.scss";