* {
    font-family: 'Montserrat', sans-serif;
}



@import "index.scss";
@import "home.scss";
@import "sobremi.scss";
@import "tips.scss";
@import "complementos.scss";
@import "contacto.scss";
@import "imports.scss";
@import "mapas.scss";
